<ul class="navbar">
  <li class="brand"><img src="/res/masterrace_v3.png" id="pcmasterrace"><a href="{{site.url}}"><span>bozdogan</span></a></li>
  <div class="right-section">
  {%- for item in include.collection -%}
    <li>
    {%- if item.url != false -%}
      <a href="{{item.url | relative-url}}" {%- if include.active == item.url %} class="active"{% endif -%}>{{- item.title -}}</a>
    {%- else -%}
      {{- item.title -}}
    {%- endif -%}
    </li>
  {%- endfor -%}
  </div>
</ul>