$clBackground: #F2F2F2;
$clForeground: #232323;
$clAnchor: #2384F2;
$clAccent: #F28423;

$bp-mobile: 460px;

$bodyFont: Consolas, Roboto Mono, monospace;

:root {
  font-size: 16px;
}

html {
  color: $clForeground;
  background-color: $clBackground;
  font-family: $bodyFont;
  line-height: 1.2;
}

body {
  margin: 0; 
  padding: 0;
}

main {
  /* Keep footer at the bottom even if the content is short s*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: $clAnchor;
}

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background-color: #FFF000; }

.container {
  width: 100%;
  max-width: 80ch;
  margin: 2rem auto 4rem;
  padding: 0 1rem;

  @media (max-width: $bp-mobile) {
    width: auto;
    margin: 1rem 0 0;
  }
}

article {
  text-align: justify;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table, th, td {
  width: 100%;
  border: thin solid $clForeground;
  border-collapse: collapse;
  padding: 0.4rem;
}

b, strong {
  color: $clAccent;
}

i, em {
}

code {
  color: $clBackground;
  background-color: $clForeground;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid $clForeground;
  padding: 1rem;

  p { margin: 0; }
}

footer {
  text-align: center;
  padding-top: .5rem;
  height: 1.8rem;
  color: #444;
  background-color: #ccc;

  & small {
    font-size: .8rem;
  }
}

/*
// Navigation // */

ul.navbar {
  margin: 0 0 2rem 0;
  padding: 0;
  position: relative;
  overflow: shown;
  list-style-type: none;
  /*background-color: #ccc;*/

  & li {
    display: inline-block;
    padding: 5px 10px 5px 0;

    & a {
    display: block;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: $clForeground;
    font-size: 1.2rem;
    /*background-color: #daa;*/

    &:hover { text-decoration: underline; }
    &.active { font-weight: bold; };
    /*&:hover { background-color: #c99; }*/
    }
  }

  & li.brand {
    position: relative; 

    & a {
      $outline-indent: .5px;
      $outline-color: #222;

      font-size: 2rem;
      font-weight: bold;
      color: $clAccent;
      text-shadow:
         (-$outline-indent) (-$outline-indent) 0 $outline-color,  
           $outline-indent  (-$outline-indent) 0 $outline-color,
         (-$outline-indent)   $outline-indent  0 $outline-color,
           $outline-indent    $outline-indent  0 $outline-color;

      &:hover {
        text-decoration: none;
      }
    }

    & img {
      height: 4rem;
      position: absolute;
      bottom: -.7rem;
    }

    & span {
      margin-left: 3.2rem;
    }
  }

  & .right-section {
    position: absolute;
    right: 0; 
    bottom: 0;

    & li {
      padding: 5px 0 5px 10px;
    }
  }


  @media (max-width: $bp-mobile) {
    & {
      margin-bottom: 3rem;
    }

    & .right-section {
      bottom: -2rem;     
    }
  }
}


/*
// Blog Posts // */

.post-header {
  display: flex;
  flex-wrap: wrap;

  & h1 {
    margin: .5rem 0 1.2rem;
    flex-grow: 1; 
  }

  & .post-date {
    margin: .5rem 0;
    font-style: italic;
    text-align: right;
  }


  @media (max-width: $bp-mobile) {
    & {
      display: block;
    }

    & h1 {
      font-size: 1.6rem;
      margin-bottom: .2rem;
    }

    & .post-date {
      margin: 0 0 1rem;
    }
  }
}