@charset "UTF-8";
/* THE BORING THEME by b.ozdogan */
@import url(native.css);
:root { font-size: 16px; }

html { color: #232323; background-color: #F2F2F2; font-family: Consolas, Roboto Mono, monospace; line-height: 1.2; }

body { margin: 0; padding: 0; }

main { /* Keep footer at the bottom even if the content is short s*/ display: flex; min-height: 100vh; flex-direction: column; justify-content: space-between; }

a { color: #2384F2; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background-color: #FFF000; }

.container { width: 100%; max-width: 80ch; margin: 2rem auto 4rem; padding: 0 1rem; }

@media (max-width: 460px) { .container { width: auto; margin: 1rem 0 0; } }

article { text-align: justify; }

hr { text-align: center; border: 0; }

hr:before { content: '/////'; }

hr:after { content: attr(data-content) "/////"; }

table, th, td { width: 100%; border: thin solid #232323; border-collapse: collapse; padding: 0.4rem; }

b, strong { color: #F28423; }

code { color: #F2F2F2; background-color: #232323; }

div.highlighter-rouge code { display: block; overflow-x: auto; padding: 1rem; }

blockquote { font-style: italic; border: thin solid #232323; padding: 1rem; }

blockquote p { margin: 0; }

footer { text-align: center; margin-top: 1rem; padding-top: .5rem; height: 1.8rem; border: 1px solid #aaa; background-color: #ccc; color: #666; }

footer small { font-size: .8rem; }

/*
// Navigation // */
ul.navbar { margin: 0 0 2rem 0; padding: 0; position: relative; overflow: shown; list-style-type: none; /*background-color: #ccc;*/ }

ul.navbar li { display: inline-block; padding: 5px 10px 5px 0; }

ul.navbar li a { display: block; padding: 5px; text-align: center; text-decoration: none; color: #232323; font-size: 1.2rem; /*background-color: #daa;*/ /*&:hover { background-color: #c99; }*/ }

ul.navbar li a:hover { text-decoration: underline; }

ul.navbar li a.active { font-weight: bold; }

ul.navbar li.brand { position: relative; }

ul.navbar li.brand a { font-size: 2rem; font-weight: bold; color: #F28423; text-shadow: -0.5px -0.5px 0 #222, 0.5px -0.5px 0 #222, -0.5px 0.5px 0 #222, 0.5px 0.5px 0 #222; }

ul.navbar li.brand a:hover { text-decoration: none; }

ul.navbar li.brand img { height: 4rem; position: absolute; bottom: -.7rem; }

ul.navbar li.brand span { margin-left: 3.2rem; }

ul.navbar .right-section { position: absolute; right: 0; bottom: 0; }

ul.navbar .right-section li { padding: 5px 0 5px 10px; }

@media (max-width: 460px) { ul.navbar { margin-bottom: 3rem; } ul.navbar .right-section { bottom: -2rem; } }

/*
// Home Page // */
.blog-post-list .blog-excerpt { margin: 0 0 .6rem; padding: 1rem 1.5rem; border: 1px solid #ccc; background-color: #Fff; /*!! Blog post'tan araklama TODO(bora): belki bu da .blog-header olmalıdır?? */ display: flex; flex-wrap: wrap; /* Araklama sonu*/ }

.blog-post-list .blog-excerpt:last-child { margin-bottom: 0; }

.blog-post-list .blog-excerpt h1 { margin: 0 0 1rem; }

.blog-post-list .blog-excerpt p { margin: 0; }

.blog-post-list .blog-excerpt h1 { margin: .5rem 0 1.2rem; flex-grow: 1; }

.blog-post-list .blog-excerpt .post-date { margin: .5rem 0; font-style: italic; text-align: right; }

@media (max-width: 460px) { .blog-post-list .blog-excerpt { display: block; } .blog-post-list .blog-excerpt h1 { font-size: 1.6rem; margin-bottom: .2rem; } .blog-post-list .blog-excerpt .post-date { margin: 0 0 1rem; } }

.blog-post-list .blog-excerpt .continue-reading { text-align: right; }

/*
// Blog Posts // */
.post-header { display: flex; flex-wrap: wrap; }

.post-header h1 { margin: .5rem 0 1.2rem; flex-grow: 1; }

.post-header .post-date { margin: .5rem 0; font-style: italic; text-align: right; }

@media (max-width: 460px) { .post-header { display: block; } .post-header h1 { font-size: 1.6rem; margin-bottom: .2rem; } .post-header .post-date { margin: 0 0 1rem; } }

/*# sourceMappingURL=main.css.map */