<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  {% include head.html%}

  <title>
    {%- if layout.homepage -%}
       {{site.title}}: {{site.motto}}
    {%- else if page.title -%}
      {{page.title}} - {{site.title}}
    {%- else -%}
      {{site.title}}
    {%- endif -%}
  </title>
</head>
<body>
<main>
  <div class="container">
    {% include navbar.html active=page.url collection=site.data.menu %}
    {{content}}
  </div>

  {% include footer.html %}
</main>
</body>
</html>
