<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  {% include head.html%}

  <title>
    {%- if page.title -%}
      {%- if layout.homepage -%}
         {{site.title}}: {{site.motto}}
      {%- else -%}
        {{page.title}} - {{site.title}}
      {%- endif -%}
    {%- else -%}
      {{site.title}}
    {%- endif -%}
  </title>
</head>
<body>
<main>
  <div class="container">
    {% include navbar.html active=page.url collection=site.data.menu.entries %}
    {{content}}
  </div>

  {% include footer.html %}
</main>
</body>
</html>
